* {
    box-sizing: border-box;
    backface-visibility: hidden;
}

html {
    -webkit-font-smoothing: antialiased;
}



@import 'partials/reset';


@import 'partials/typography';
@import 'partials/utilities';
@import 'partials/videodrawer';
@import 'partials/hero';
@import 'partials/video';
@import 'partials/hub';
@import 'partials/case_study';
@import 'partials/form';
@import 'partials/footer';

@import 'partials/owl.carousel';

@import 'partials/thankyou';